body {
    background-image: url("5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    text-align: center;
    margin-top: 200px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 32px;
}

p {
    font-size: 20px;
}

.back-button {
    display: inline-block;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    margin-top: 20px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    transition: all 0.3s ease;
    cursor: pointer;
}

.back-button:hover {
    background-color: #45a049;
}
