body {
    background-image: url("5.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

h1 {
    color: #333;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.success-button,
.cancel-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-button {
    background-color: #f44336;
}

.success-button:hover,
.cancel-button:hover {
    opacity: 0.8;
}
